* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.banner {
  width: 130%;
}

button {
  display: inline-block;
  width: 100px;
  height: 50px;
  font-family: puffin-arcade-regular, sans-serif;
  font-weight: 800;
  font-size: 25px;
  text-transform: uppercase;
  background-color: #cb8342;
  border: none;
  margin-top: 5px;
  cursor: url('../img/laser.png'), auto;
}

button:hover {
  background-image: url('../img/cat-paw.png');
  background-repeat: no-repeat;
  background-size: 25px;
  transition: 1.3s;
  transition-timing-function: ease-in-out;
  background-position: 100px top;
}
